

<div class="row">
  <div class="col-md-10 mx-auto">
    <h2 class="col-md-10 mb-5">会員一覧</h2>
  <table bgcolor="#FFF" class="table">
    <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
       <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to admins_customer_path(customer), class: "btn-link"  do %>
                <i></i>
                <%= customer.last_name %>
                <%= customer.first_name %>
              <% end %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <% if customer.cancel_flag == false %>
                <i>退会</i>
              <% else %>
                <i class="true">有効</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
</div>

