<div class="container">
  <div class="row">
    <div class="col-4 offset-1">注文情報確認</div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="text-left">商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
        <% @cart_items.each do |cart| %>
        <tr>
          <th><%= attachment_image_tag cart.item, :image, :fill, 80, 50, fallback: "no-image.jpg", size: "80x50" %> <%= cart.item.name %></th>
          <th><%= cart.item.tax_include_price.to_s(:delimited) %></th>
          <th><%= cart.product_amount %></th>
          <th><%= (cart.item.tax_include_price * cart.product_amount).to_s(:delimited) %></th>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="text-left">送料</th>
            <td><%= @order.shipping_price %></td>
          </tr>
          <tr>
            <th class="text-left">商品合計</th>
            <td><%= @order.total_price %></td>
          </tr>
          <tr>
            <th class="text-left">請求金額</th>
            <td><%= @order.billing_amount %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="row">
    <h4>支払い方法</h4>
    <p><%= @order.payment_method %></p>
  </div>
  <div class="row">
    <h4>お届け先</h4>
  </div>
  <div class="row">
    <p>
      〒<%= @order.delivery_zip_code %> <%= @order.delivery_address %> <%= @order.delivery_name %>
    </p>
  </div>
  <div class="row">
    <%#= form_for @order do |f| %>
    <%= form_with model: @order, url: thanks_orders_path, method: :post, local: true do |f| %>
    <%= f.submit '注文を確定する', class: 'btn btn-success' %>
    <%#= link_to "注文を確定する", orders_thanks_path, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>