<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>
<div class="container mb-auto">
  <div class="row">
    <h3>支払い方法</h3>
  </div>
  <div class="row">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios">クレジットカード</label>
    </div>
  </div>
  <div class="row">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios">銀行振込</label>
    </div>
  </div>
  <div class="row mt-5">
    <h3>お届け先</h3>
  </div>
  <div class="row mt-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios">ご自身の住所</label>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-10">
      〒<%= @customers.zip_code %> <%= @customers.address %><br />
      <%= @customers.last_name %> <%= @customers.first_name %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios">登録済み住所から選択</label>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <select class="custom-select">
        <% @deliveries.each do |delivery| %>
        <option value="<%= delivery.id %>">
          〒 <%= delivery.zip_code %><%= delivery.address %><%= delivery.name %>
        </option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="row mt-3">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios">新しいお届け先</label>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
       <p>郵便番号（ハイフンなし）</p>
       <p>住所</p>
       <p>宛名</p>
    </div>
    <dic class="col-9 form-group">
      <%= form_with model: @delivery, local: true do |f| %>
      <div class="row">
        <div class="col">
          <%= f.text_field :zip_code, class: 'form-control', placeholder: '1000001' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :address, class: 'form-control', placeholder: '東京都千代田区千代田1-1-1' %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.text_field :name, class: 'form-control', placeholder: '横浜太郎' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>