<div class="container">
  <div class="row">
    <div class="col-md-11 ml-auto my-4">
      <h3 class="ml-10">
        <% case controller.action_name %>
        <% when "new" %>
          商品新規登録
        <% when "edit" %>
          商品編集
        <% end %>
      </h3>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-md-2">

    </div>
    <div class="col-md-6">

      <%= form_with model: [:admins, item], local: true do |f| %>
        <div class="form-group">
          <div class="row">
            <%= f.label :image, "商品画像", class: "col-md-4" %>
            <%= f.attachment_field :image, class: "col-md-8" %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :name, "商品名", class: "col-md-4" %>
            <%= f.text_field :name, class: "col-md-8 form-cotrol d-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :caption, "商品説明", class: "col-md-4" %>
            <%= f.text_area :caption, rows: "8", class: "col-md-8 form-cotrol d-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :genre_id, "ジャンル", class: "col-md-4" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, class: "col-md-8 form-cotrol d-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :non_tax_price, "税抜価格", class: "col-md-4" %>
            <%= f.text_field :non_tax_price, class: "col-md-8 form-cotrol d-block" %>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :sale_status, "販売ステータス", class: "col-md-4" %>
            <div class="align-middle">
            <%= f.label :sale_status, "販売中", value: :true, class: "d-inline-block" %>
              <%= f.radio_button :sale_status, :true, checked: true %>
              <%= f.label :sale_status, "販売停止", value: :false, class: "d-inline-block" %>
              <%= f.radio_button :sale_status, :false %>
            </div>
          </div>
        </div>
        <div class="text-center">
          <% case controller.action_name %>
        <% when "new" %>
          <%= f.submit "新規登録", class: "btn btn-lg btn-success" %>
        <% when "edit" %>
          <%= f.submit "変更を保存", class: "btn btn-lg btn-success" %>
        <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>