<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="mb-5">商品一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <td>商品ID</td>
            <td>商品名</td>
            <td>税抜き価格</td>
            <td>ジャンル</td>
            <td>ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, item_path(item) %></td>
              <td><%= item.non_tax_price.to_s(:delimited) %></td>
              <td><%= item.genre_id %></td>
              <td><%= item.sale_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <p><%= paginate @items, class: "justify-content-center" %></p>

    </div>
  </div>
</div>