<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto d-flex position-relative">
      <p><%= attachment_image_tag @item, :image, :fill, 300, 200, fallback: "no-image.jpg", size: "300x200" %></p>
      <div class="ml-5">
        <p class="h3"><strong><%= @item.name %></strong></p>
        <p class="lead"><%= @item.caption %></p>
        <div class="position-absolute bottom-0">
          <p class="lead font-weight-bold d-inline-block"><%= "¥#{@item.tax_include_price}" %></p><span class="small">（税込）</span>
          <%= form_with url: cart_items_path, local: true do |f| %>
            <%= f.select :product_amount, (1..100).to_a, { include_blank: '個数選択' } %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit "カートに入れる" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
