<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <h2 class="col-md-10 mb-5">注文履歴一覧</h2>
        <div class="col-md-2"></div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>購入日時</td>
            <td>購入者</td>
            <td>注文個数</td>
            <td>注文ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
              <td><%= order.customer.last_name + order.customer.first_name %></td>
              <td><%= order.order_items.sum(:amount) %></td>
              <td><%= order.order_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <p><%= paginate @orders, class: "justify-content-center" %></p>

      <!--仮オーダー作成フォーム-->
      <%= form_with model: [:admins, @order], local: true do |f| %>
        <%= f.label :customer_id,"購入者ID" %>
        <%= f.text_field :customer_id %>
        <%= f.label :delivery_zip_code,"郵便番号" %>
        <%= f.text_field :delivery_zip_code %>
        <%= f.label :delivery_address,"住所" %>
        <%= f.text_field :delivery_address %>
        <%= f.label :delivery_name,"宛名" %>
        <%= f.text_field :delivery_name %>
        <%= f.label :total_price,"商品代金" %>
        <%= f.text_field :total_price %>
        <%= f.label :shipping_price,"送料" %>
        <%= f.text_field :shipping_price %>
        <%= f.label :billing_amount,"総額" %>
        <%= f.text_field :billing_amount %>
        <%= f.label :payment_method,"支払い方法" %>
        <%= f.select :payment_method, Order.payment_methods.keys.to_a %>
        <%= f.label :order_status,"注文ステータス" %>
        <%= f.select :order_status, Order.order_statuses.keys.to_a %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>